<h1>Create a New Album</h1>

<form action="/albums" method="POST">
  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="title" name="title" />

    <label for="artist">Artist(s)</label>
    <input type="text" class="form-control" id="artist" name="artist" />

    <label for="releaseYear">Release Year</label>
    <input type="text" class="form-control" id="releaseYear" name="releaseYear" />

    <label for="tracks">Tracks</label>
    <input type="text" class="form-control" id="tracks" name="tracks" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>